<section class="dashboard gray-bg padd-0 mrg-top-50">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-9">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">Add Tix</h3>
								</div>

								<div class="tr-single-body">
									<form class="form"[formGroup]="ngFormAddTix" (ngSubmit) ="onRegister()">
										<aw-wizard >
											<aw-wizard-step stepTitle="About">
												<div class="row" >
													<!-- <div class="col-md-4 col-xs-12">
														<label>Tixs Name</label>
														<input type="text" class="form-control" placeholder="Activity Name" />
													</div> -->
												
												<div class="form-group" class="col-md-6 col-xs-12">
													<label for="productName">Tix Name</label>
													<input type="text" class="form-control" id="productName" formControlName="productName" placeholder="Activity name" [(ngModel)]="this.productName"
													[ngClass]="{ 'is-invalid': submitted && fval.productName.errors }"
													 required>
													 <div *ngIf="submitted && fval.productName.errors" class="invalid-feedback">
														<div *ngIf="fval.productName.errors.required"><span class="errorLabel">
														Tix Name is required and must be a valid name
														</span>
														</div>
				  									 </div>
												</div>

												<div class="col-md-6 col-xs-12">	
														<label>Gallery</label>
														<div class="cf-input">
															<label class="custom-file">
															  <input type="file" id="gallery" class="custom-file-input">
															  <span class="custom-file-control"></span>
															</label>
														</div>
													</div>
													
													<div class=" col-xs-12">
														<label>Tix Description</label>
														<textarea class="form-control height-80" placeholder="About tix"></textarea>
													</div>
												</div>
												<button type="button" awNextStep (click)="firstStep()">next</button>
											  </aw-wizard-step>

											  <aw-wizard-step stepTitle="Prices" awOptionalStep>
											  	<div class="row" >
													<div class="col-md-4 col-xs-12">
														<label>Label</label>
														<input type="text" class="form-control" placeholder="Label" />
													</div> 
													<div class="col-md-4 col-xs-12">
														<label>Retail price</label>
														<input type="text" class="form-control" placeholder="Retail price" />
													</div> 
													<div class="col-md-12 col-xs-12">
														<label>Net price</label>
														<input type="text" class="form-control" placeholder="Net price" />
													</div> 
												</div>
											      
											    <button type="button" awPreviousStep>previous</button>
											    <button type="button" awNextStep>next</button>
											  </aw-wizard-step>
											 
											  <aw-wizard-step stepTitle="Booking">
											    <div class="row">
													<div class="col-md-12 text-center">
														<i class="ti-thumb-up cl-success font-50"></i>
														<h3 class="cl-success"></h3>
														<p> The tixs has been submitted successfully</p>
													</div>
													 <div *ngIf="submitted && fval.productName.errors" class="invalid-feedback">
														<div *ngIf="fval.productName.errors.required">
														<span class="errorLabel">
														*The Tix name is required and must be a valid name
														</span>
														</div>
				  									 </div>
												</div>
											    <button type="button" awPreviousStep>Previous</button>
											    <button type="submit" >Finish</button>
											  </aw-wizard-step>
										</aw-wizard>
									</form>	
										
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		 <app-pre-footer></app-pre-footer>